{{- if and .Values.rbac.create .Values.leaderElection.enabled -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "mongodb-operator.fullname" . }}-leader-election
  namespace: {{ include "mongodb-operator.leaderElectionNamespace" . }}
  labels:
    {{- include "mongodb-operator.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "mongodb-operator.fullname" . }}-leader-election
  namespace: {{ include "mongodb-operator.leaderElectionNamespace" . }}
  labels:
    {{- include "mongodb-operator.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "mongodb-operator.fullname" . }}-leader-election
subjects:
  - kind: ServiceAccount
    name: {{ include "mongodb-operator.serviceAccountName" . }}
    namespace: {{ .Release.Namespace }}
{{- end }}
