---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: mongodbs.mongodb.keiailab.com
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.1
spec:
  group: mongodb.keiailab.com
  names:
    kind: MongoDB
    listKind: MongoDBList
    plural: mongodbs
    shortNames:
      - mdb
    singular: mongodb
  scope: Namespaced
  versions:
    - additionalPrinterColumns:
        - jsonPath: .status.phase
          name: Phase
          type: string
        - jsonPath: .status.readyMembers
          name: Members
          type: integer
        - jsonPath: .status.currentPrimary
          name: Primary
          type: string
        - jsonPath: .spec.version.version
          name: Version
          type: string
        - jsonPath: .metadata.creationTimestamp
          name: Age
          type: date
      name: v1alpha1
      schema:
        openAPIV3Schema:
          description: MongoDB is the Schema for the mongodbs API
          properties:
            apiVersion:
              type: string
            kind:
              type: string
            metadata:
              type: object
            spec:
              description: MongoDBSpec defines the desired state of MongoDB ReplicaSet
              properties:
                additionalConfig:
                  additionalProperties:
                    type: string
                  type: object
                arbiter:
                  properties:
                    enabled:
                      type: boolean
                    resources:
                      properties:
                        limits:
                          additionalProperties:
                            anyOf:
                              - type: integer
                              - type: string
                            pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                            x-kubernetes-int-or-string: true
                          type: object
                        requests:
                          additionalProperties:
                            anyOf:
                              - type: integer
                              - type: string
                            pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                            x-kubernetes-int-or-string: true
                          type: object
                      type: object
                  required:
                    - enabled
                  type: object
                auth:
                  properties:
                    adminCredentialsSecretRef:
                      properties:
                        name:
                          default: ""
                          type: string
                      type: object
                      x-kubernetes-map-type: atomic
                    mechanism:
                      default: SCRAM-SHA-256
                      enum:
                        - SCRAM-SHA-256
                        - SCRAM-SHA-1
                        - X509
                      type: string
                    users:
                      items:
                        properties:
                          db:
                            type: string
                          name:
                            type: string
                          passwordSecretRef:
                            properties:
                              key:
                                type: string
                              name:
                                default: ""
                                type: string
                              optional:
                                type: boolean
                            required:
                              - key
                            type: object
                            x-kubernetes-map-type: atomic
                          roles:
                            items:
                              properties:
                                db:
                                  type: string
                                name:
                                  type: string
                              required:
                                - db
                                - name
                              type: object
                            type: array
                        required:
                          - db
                          - name
                          - passwordSecretRef
                          - roles
                        type: object
                      type: array
                  required:
                    - adminCredentialsSecretRef
                  type: object
                autoScaling:
                  properties:
                    enabled:
                      type: boolean
                    maxReplicas:
                      format: int32
                      type: integer
                    metrics:
                      items:
                        properties:
                          customMetric:
                            properties:
                              name:
                                type: string
                              query:
                                type: string
                            required:
                              - name
                            type: object
                          target:
                            format: int32
                            type: integer
                          type:
                            enum:
                              - cpu
                              - memory
                              - custom
                            type: string
                        required:
                          - target
                          - type
                        type: object
                      type: array
                    minReplicas:
                      format: int32
                      minimum: 1
                      type: integer
                  required:
                    - enabled
                    - maxReplicas
                  type: object
                backup:
                  properties:
                    enabled:
                      type: boolean
                    oplogRetentionHours:
                      default: 24
                      type: integer
                    pitrEnabled:
                      default: false
                      type: boolean
                    retention:
                      properties:
                        count:
                          type: integer
                        days:
                          default: 7
                          type: integer
                      type: object
                    schedule:
                      type: string
                    storage:
                      properties:
                        pvc:
                          properties:
                            size:
                              anyOf:
                                - type: integer
                                - type: string
                              pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                              x-kubernetes-int-or-string: true
                            storageClassName:
                              type: string
                          required:
                            - size
                          type: object
                        s3:
                          properties:
                            bucket:
                              type: string
                            credentialsRef:
                              properties:
                                name:
                                  default: ""
                                  type: string
                              type: object
                              x-kubernetes-map-type: atomic
                            endpoint:
                              type: string
                            insecureSkipTLS:
                              default: false
                              type: boolean
                            prefix:
                              type: string
                            region:
                              type: string
                          required:
                            - bucket
                            - credentialsRef
                          type: object
                        type:
                          enum:
                            - s3
                            - pvc
                          type: string
                      required:
                        - type
                      type: object
                  required:
                    - enabled
                    - storage
                  type: object
                members:
                  default: 3
                  format: int32
                  maximum: 50
                  minimum: 1
                  type: integer
                monitoring:
                  properties:
                    enabled:
                      default: true
                      type: boolean
                    exporter:
                      properties:
                        image:
                          default: percona/mongodb_exporter:0.40
                          type: string
                        resources:
                          properties:
                            limits:
                              additionalProperties:
                                anyOf:
                                  - type: integer
                                  - type: string
                                pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                                x-kubernetes-int-or-string: true
                              type: object
                            requests:
                              additionalProperties:
                                anyOf:
                                  - type: integer
                                  - type: string
                                pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                                x-kubernetes-int-or-string: true
                              type: object
                          type: object
                      type: object
                    prometheusRules:
                      properties:
                        enabled:
                          type: boolean
                        labels:
                          additionalProperties:
                            type: string
                          type: object
                      required:
                        - enabled
                      type: object
                    serviceMonitor:
                      properties:
                        interval:
                          default: 30s
                          type: string
                        labels:
                          additionalProperties:
                            type: string
                          type: object
                        namespace:
                          type: string
                      type: object
                  required:
                    - enabled
                  type: object
                pod:
                  properties:
                    affinity:
                      x-kubernetes-preserve-unknown-fields: true
                    containerSecurityContext:
                      x-kubernetes-preserve-unknown-fields: true
                    nodeSelector:
                      additionalProperties:
                        type: string
                      type: object
                    priorityClassName:
                      type: string
                    securityContext:
                      x-kubernetes-preserve-unknown-fields: true
                    serviceAccountName:
                      type: string
                    tolerations:
                      items:
                        x-kubernetes-preserve-unknown-fields: true
                      type: array
                    topologySpreadConstraints:
                      items:
                        x-kubernetes-preserve-unknown-fields: true
                      type: array
                  type: object
                replicaSetName:
                  default: rs0
                  type: string
                resources:
                  properties:
                    limits:
                      additionalProperties:
                        anyOf:
                          - type: integer
                          - type: string
                        pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                        x-kubernetes-int-or-string: true
                      type: object
                    requests:
                      additionalProperties:
                        anyOf:
                          - type: integer
                          - type: string
                        pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                        x-kubernetes-int-or-string: true
                      type: object
                  type: object
                storage:
                  properties:
                    dataDirPath:
                      default: /data/db
                      type: string
                    size:
                      anyOf:
                        - type: integer
                        - type: string
                      default: 10Gi
                      pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                      x-kubernetes-int-or-string: true
                    storageClassName:
                      default: ceph-block
                      type: string
                  type: object
                tls:
                  properties:
                    certManager:
                      properties:
                        duration:
                          default: 2160h
                          type: string
                        issuerRef:
                          properties:
                            kind:
                              default: ClusterIssuer
                              enum:
                                - Issuer
                                - ClusterIssuer
                              type: string
                            name:
                              type: string
                          required:
                            - name
                          type: object
                        renewBefore:
                          default: 360h
                          type: string
                      required:
                        - issuerRef
                      type: object
                    customCert:
                      properties:
                        secretName:
                          type: string
                      required:
                        - secretName
                      type: object
                    enabled:
                      default: true
                      type: boolean
                  required:
                    - enabled
                  type: object
                version:
                  properties:
                    image:
                      type: string
                    version:
                      pattern: ^\d+\.\d+(\.\d+)?$
                      type: string
                  required:
                    - version
                  type: object
              required:
                - auth
                - members
                - version
              type: object
            status:
              description: MongoDBStatus defines the observed state of MongoDB
              properties:
                conditions:
                  items:
                    properties:
                      lastTransitionTime:
                        format: date-time
                        type: string
                      message:
                        maxLength: 32768
                        type: string
                      observedGeneration:
                        format: int64
                        minimum: 0
                        type: integer
                      reason:
                        maxLength: 1024
                        minLength: 1
                        pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                        type: string
                      status:
                        enum:
                          - "True"
                          - "False"
                          - Unknown
                        type: string
                      type:
                        maxLength: 316
                        pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                        type: string
                    required:
                      - lastTransitionTime
                      - message
                      - reason
                      - status
                      - type
                    type: object
                  type: array
                connectionString:
                  type: string
                currentPrimary:
                  type: string
                lastBackup:
                  properties:
                    location:
                      type: string
                    size:
                      type: string
                    successful:
                      type: boolean
                    time:
                      format: date-time
                      type: string
                  required:
                    - successful
                  type: object
                members:
                  items:
                    properties:
                      health:
                        type: boolean
                      name:
                        type: string
                      state:
                        type: string
                      uptime:
                        format: int64
                        type: integer
                    required:
                      - health
                      - name
                      - state
                    type: object
                  type: array
                observedGeneration:
                  format: int64
                  type: integer
                phase:
                  enum:
                    - Pending
                    - Initializing
                    - Running
                    - Failed
                    - Upgrading
                  type: string
                readyMembers:
                  format: int32
                  type: integer
                tlsSecretName:
                  type: string
                version:
                  type: string
              type: object
          type: object
      served: true
      storage: true
      subresources:
        status: {}
