---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: mongodbbackups.mongodb.keiailab.com
spec:
  group: mongodb.keiailab.com
  names:
    kind: MongoDBBackup
    listKind: MongoDBBackupList
    plural: mongodbbackups
    shortNames:
      - mdbbackup
    singular: mongodbbackup
  scope: Namespaced
  versions:
    - additionalPrinterColumns:
        - jsonPath: .spec.clusterRef.name
          name: Cluster
          type: string
        - jsonPath: .spec.type
          name: Type
          type: string
        - jsonPath: .status.phase
          name: Phase
          type: string
        - jsonPath: .status.size
          name: Size
          type: string
        - jsonPath: .metadata.creationTimestamp
          name: Age
          type: date
      name: v1alpha1
      schema:
        openAPIV3Schema:
          description: MongoDBBackup is the Schema for the mongodbbackups API
          properties:
            apiVersion:
              type: string
            kind:
              type: string
            metadata:
              type: object
            spec:
              properties:
                clusterRef:
                  properties:
                    kind:
                      enum:
                        - MongoDB
                        - MongoDBSharded
                      type: string
                    name:
                      type: string
                  required:
                    - kind
                    - name
                  type: object
                compression:
                  default: true
                  type: boolean
                compressionType:
                  default: zstd
                  enum:
                    - gzip
                    - zstd
                    - snappy
                  type: string
                storage:
                  properties:
                    pvc:
                      properties:
                        size:
                          anyOf:
                            - type: integer
                            - type: string
                          x-kubernetes-int-or-string: true
                        storageClassName:
                          type: string
                      required:
                        - size
                      type: object
                    s3:
                      properties:
                        bucket:
                          type: string
                        credentialsRef:
                          properties:
                            name:
                              type: string
                          type: object
                        endpoint:
                          type: string
                        insecureSkipTLS:
                          default: false
                          type: boolean
                        prefix:
                          type: string
                        region:
                          type: string
                      required:
                        - bucket
                        - credentialsRef
                      type: object
                    type:
                      enum:
                        - s3
                        - pvc
                      type: string
                  required:
                    - type
                  type: object
                type:
                  default: full
                  enum:
                    - full
                    - incremental
                  type: string
              required:
                - clusterRef
                - storage
              type: object
            status:
              properties:
                completionTime:
                  format: date-time
                  type: string
                conditions:
                  items:
                    properties:
                      lastTransitionTime:
                        format: date-time
                        type: string
                      message:
                        type: string
                      reason:
                        type: string
                      status:
                        enum:
                          - "True"
                          - "False"
                          - Unknown
                        type: string
                      type:
                        type: string
                    required:
                      - lastTransitionTime
                      - message
                      - reason
                      - status
                      - type
                    type: object
                  type: array
                error:
                  type: string
                location:
                  type: string
                phase:
                  enum:
                    - Pending
                    - Running
                    - Completed
                    - Failed
                  type: string
                size:
                  type: string
                startTime:
                  format: date-time
                  type: string
              type: object
          type: object
      served: true
      storage: true
      subresources:
        status: {}
